version: "3"

services:
    server: 
        image: gitea/gitea:1.15.10
        container_name: gitea
        environment:
            - USER_UID={{ USER_UID }}
            - USER_GID={{ USER_GID }}
            - GITEA__database__DB_TYPE=postgres
            - GITEA__database__HOST={{ DB_HOST }}:5432
            - GITEA__database__NAME={{ DB_NAME }}
            - GITEA__database__USER={{ DB_USERNAME }}
            - GITEA__database__PASSWD={{ DB_USER_PASSWORD }}
        restart: always
        volumes:
            - ./data:/data
            - /etc/timezone:/etc/timezone:ro
            - /etc/localtime:/etc/localtime:ro
        ports:
            - "3000:3000"
            - "222:22"
